.App {
    text-align: center;
    text-decoration: none; /* unable to remove underlined link */
}

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 10vh;
    background: rgb(16, 139, 255);
    color: white;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style: none;
}