.sliderimg{
  height: 50vh;
}

.picture-container {
  margin-top: 5vh;
}

.choice-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.choice-no {
  margin-right: 30vw;
  margin-top: 5vh;
  padding: 2vh 5vw;
  background-color: #ff9f46;
  color: white;
  font-size: 3vh;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.choice-no:hover {
  background-color: #d42020;
  color: white;
}

.choice-yes {
  margin-top: 5vh;
  padding: 2vh 5vw;
  background-color: #ff9f46;
  color: white;
  font-size: 3vh;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.choice-yes:hover {
  background-color: #4CAF50;
  color: white;
}

.restaurant-info {
  margin-top: 5vh;
  padding: 2vh 5vw;
  background-color: rgb(16, 139, 255);
  color: white;
  /* font-size: 3vh; */
}

.title {
  font-size: 5vh;
  font-family: "ヒラギノ角ゴ Pro W3"
}

.kana {
  font-size: 4vh;
  font-family: "ヒラギノ角ゴ Pro W3"
}

.category {
  font-size: 3vh;
  font-family: "ヒラギノ角ゴ Pro W3"
}

.address {
  font-size: 3vh;
  font-family: "ヒラギノ角ゴ Pro W3"
}

.open-time {
  font-size: 3vh;
  font-family: "ヒラギノ角ゴ Pro W3"
}